@import "tailwindcss";
@config "../tailwind.config.cjs";

html,
body,
#root {
    margin: 0;
    min-height: 100%;
}

body {
    overflow: hidden;
}

html {
    border-radius: 10px !important;
    background: transparent !important;
    overflow: hidden;
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: #c0c1c550;
    border-radius: 5px;
}

*::-webkit-scrollbar-thumb:hover {
    background: #c0c1c550;
}
